body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}
body > svg {
  margin: auto;
  height: 100%;
}

svg #SHEET,
svg #PLAYHEAD {
  pointer-events: none;
}
svg g#STEPS g[id^="STEP"] ellipse {
  cursor: pointer;
  transition: all 0.1s;
  opacity: 0;
}

svg g#STEPS g[id^="STEP"] ellipse.selected {
  fill: black;
  opacity: 1;
}
svg g#STEPS g[id^="STEP"] ellipse:hover {
  opacity: 1;
}

svg g#KEYS {
  cursor: pointer;
}

svg g#KEYS g path {
  transition: all 0.1s;
}

svg g#STEPS ellipse[id^="C"],
svg g#STEPS ellipse[id^="C"].selected,
svg g[id="KEYS"] g[id^="C"] path[id^="TOP"],
svg g[id="KEYS"] g[id^="C"] path[id^="BOTTOM"] {
  fill: hsl(0deg, 100%, 50%);
}
svg g#STEPS ellipse[id^="D"],
svg g#STEPS ellipse[id^="D"].selected,
svg g[id="KEYS"] g[id^="D"] path[id^="TOP"],
svg g[id="KEYS"] g[id^="D"] path[id^="BOTTOM"] {
  fill: hsl(30deg, 100%, 50%);
}
svg g#STEPS ellipse[id^="E"],
svg g#STEPS ellipse[id^="E"].selected,
svg g[id="KEYS"] g[id^="E"] path[id^="TOP"],
svg g[id="KEYS"] g[id^="E"] path[id^="BOTTOM"] {
  fill: hsl(60deg, 100%, 50%);
}
svg g#STEPS ellipse[id^="F"],
svg g#STEPS ellipse[id^="F"].selected,
svg g[id="KEYS"] g[id^="F"] path[id^="TOP"],
svg g[id="KEYS"] g[id^="F"] path[id^="BOTTOM"] {
  fill: hsl(120deg, 100%, 50%);
}
svg g#STEPS ellipse[id^="G"],
svg g#STEPS ellipse[id^="G"].selected,
svg g[id="KEYS"] g[id^="G"] path[id^="TOP"],
svg g[id="KEYS"] g[id^="G"] path[id^="BOTTOM"] {
  fill: hsl(180deg, 100%, 50%);
}
svg g#STEPS ellipse[id^="A"],
svg g#STEPS ellipse[id^="A"].selected,
svg g[id="KEYS"] g[id^="A"] path[id^="TOP"],
svg g[id="KEYS"] g[id^="A"] path[id^="BOTTOM"] {
  fill: hsl(250deg, 100%, 50%);
}
svg g#STEPS ellipse[id^="B"],
svg g#STEPS ellipse[id^="B"].selected,
svg g[id="KEYS"] g[id^="B"] path[id^="TOP"],
svg g[id="KEYS"] g[id^="B"] path[id^="BOTTOM"] {
  fill: hsl(300deg, 100%, 50%);
}

svg g[id="NOTEHIGHLIGHT"] circle {
  transition: all 0.1s;
}
svg g[id="NOTEHIGHLIGHT"] circle.active {
  fill-opacity: 1;
  fill: red;
}

svg g[id="CONTROLS"] {
  cursor: pointer;
}

svg g[id="CONTROLS"] .active path:last-child {
  fill: red;
}

svg g#PLAYHEAD > path {
  opacity: 0.01 !important;
}
svg g#PLAYHEAD > path.active {
  opacity: 1 !important;
}
