body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}
body > svg {
  margin: auto;
  height: 100%;
}

svg #SHEET,
svg #PLAYHEAD {
  pointer-events: none;
}
svg g#STEPS g[id^="STEP"] ellipse {
  cursor: pointer;
  transition: all 0.1s;
  opacity: 0;
}

svg g#STEPS g[id^="STEP"] ellipse.selected {
  opacity: 1;
  stroke: black;
  stroke-width: 2;
}
svg g#STEPS g[id^="STEP"] ellipse:hover {
  opacity: 1;
}

svg g#KEYS {
  cursor: pointer;
}

svg g#KEYS g path {
  transition: all 0.1s;
}

svg g#STEPS ellipse[id^="C"],
svg g#STEPS ellipse[id^="C"].selected,
svg g#KEYS g[id^="C"] path[id^="TOP"],
svg g#KEYS g[id^="C"] path[id^="BOTTOM"] {
  fill: #FF082D;
}
svg g#STEPS ellipse[id^="D"],
svg g#STEPS ellipse[id^="D"].selected,
svg g#KEYS g[id^="D"] path[id^="TOP"],
svg g#KEYS g[id^="D"] path[id^="BOTTOM"] {
  fill: #FF931E;
}
svg g#STEPS ellipse[id^="E"],
svg g#STEPS ellipse[id^="E"].selected,
svg g#KEYS g[id^="E"] path[id^="TOP"],
svg g#KEYS g[id^="E"] path[id^="BOTTOM"] {
  fill: #FFF34F;
}
svg g#STEPS ellipse[id^="F"],
svg g#STEPS ellipse[id^="F"].selected,
svg g#KEYS g[id^="F"] path[id^="TOP"],
svg g#KEYS g[id^="F"] path[id^="BOTTOM"] {
  fill: #00FF00;
}
svg g#STEPS ellipse[id^="G"],
svg g#STEPS ellipse[id^="G"].selected,
svg g#KEYS g[id^="G"] path[id^="TOP"],
svg g#KEYS g[id^="G"] path[id^="BOTTOM"] {
  fill: #00A28B;
}
svg g#STEPS ellipse[id^="A"],
svg g#STEPS ellipse[id^="A"].selected,
svg g#KEYS g[id^="A"] path[id^="TOP"],
svg g#KEYS g[id^="A"] path[id^="BOTTOM"] {
  fill: #5540BF;
}
svg g#STEPS ellipse[id^="B"],
svg g#STEPS ellipse[id^="B"].selected,
svg g#KEYS g[id^="B"] path[id^="TOP"],
svg g#KEYS g[id^="B"] path[id^="BOTTOM"] {
  fill: #FF00FF;
}

svg g#KEYS g.pressing path[id^="TOP"] {
  transform: translateY(0.2%);
}
svg g#KEYS g.pressing path[id^="BOTTOM"] {
  transform: translateY(-0.2%);
}

svg g[id="CONTROLS"] {
  cursor: pointer;
}

svg g[id="CONTROLS"] .active path:last-child {
  fill: red;
}

svg g#PLAYHEAD > path {
  opacity: 0.01 !important;
}
svg g#PLAYHEAD > path.active {
  opacity: 1 !important;
}
